@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
}

html {
    font-size:100%;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*font-family: 'Didact Gothic', sans-serif;*/
}

nav {
    height: 4.3rem;
    padding: 0rem 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid rgb(226, 226, 226);
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-left {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    align-items: center;
}

.nav-logo {
    background-image: url("images/logo.PNG");
    background-size: 100% 100%;
    width: 3.8rem;
    height: 2.5rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
}

.nav-list button {
    background-color: rgba(255, 255, 255, 0);
    color: #e65d33;
    border: none;
    display: inline-block;
    font-size: 1.1rem;
    padding-top: 0.2rem;
}

/*.nav-list p {
    color: #ff764d;
}*/

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    font-size: 1rem;
}

a.try-free {
    color: blue;
    font-size: 1.1rem;
}

.header {
    height: 4.3rem;
    padding: 0rem 2.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
}

.header a {
    text-decoration: none;
    color: black;
}

a.about {
    color: #e65d33;
}

.hero-img {
    margin: 0rem 8rem;
    height: 44rem;
    background-image: url('images/hero-img.jpg');
    object-fit: fill;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    /* we created a class so as to bring the button to center, so that we don't need to manually
    translate in x-direction */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img button {
    color: #e65d33;
    width: 8rem;
    height: 10rem;
    font-size: 8rem;

    /* making button transparent */
    background-color: transparent;
    border: 0.05rem solid transparent;
    transform: translateX(-3rem);
}

.intro {
    margin: 5rem 20rem;
    font-size: 1.65rem;
    padding: 2rem 3rem;
} 

.intro h4 {
    font-weight: 600;
    line-height: 2.7rem;
    padding-bottom: 2rem;
}

.intro span {
    color: blue;
}

.intro p {
    font-size: 1.1rem;
    color: rgb(39, 39, 39);
    line-height: 2rem;
}

.flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*left1 has 40% width and right1 has 60% width*/

.left1 {
    width: 40%;
    height: 40rem;
    margin: 7rem 0rem; /* applied margin to top and bottom so that we'll need to translate only in x-direction now. */
}

.left1 img {
    width: 100%;
    height: 100%;
    transform: translateX(7rem); /*notice, img has same margin from all sides, hence translated with same value*/
}

.right1 {
    background-color: #fbffa7;
    z-index: -10;
    width: 60%;
    height: 54rem;
    text-align: center; /*did it so that image automatically will be aligned to center */
}

.right1 img {
    margin: 14rem 7rem; /*align properly w.r.t top & bottom */
    height: 26rem; /*26rem because grid1 image has height 40rem
    7rem padding from top and bottom => 40-(7+7) = 26rem*/
    transform: translateX(3.5rem); /*did it 3.5rem (7/2=3.5rem) because 7rem didn't provide desired result
    so tried with 3.5 (a multiple of 7)*/
}

.below-grid1, .below-flex2, .text-above-flex3, .above-flex4 {
    margin: 9rem 24rem;
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.below-grid1 p, .below-flex2 p, .text-above-flex3 p, .above-flex4 p {
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 2rem;
    line-height: 2rem;
}

.flex2 {
    margin: 5rem 0rem;
    display: flex;
    flex-direction: row;
}

/*left has 60% width and right has 40% width */

.left2 {
    background-color: #b6ffc0;
    width: 58%;
    z-index: -3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left-top {
    margin: 7rem 14rem 7rem 7rem; /*14rem for right because we want 7rem space from right-img */
}

.left-top img {
    width: 100%;
    height: 100%;
}

.left-bottom {
    margin: 0rem 14rem 7rem 7rem; /*14rem for right because we want 7rem space from right-img */
}

.left-bottom img {
    width: 100%;
    bottom: 100%;
}

.right2 {
    width: 42%;
}

.right2 img {
    width: 100%;
    height: 44rem;
    /*margin for top & bottom is 10rem because on official site
    this image has double padding than left-top wali image, assuming them 14rem and 7rem respectively */
    margin: 14rem 0rem; /*now image needs to be transformed only in x-direction*/
    transform: translateX(-7rem); /*all image have 5rem spacing on all sides*/
}

.img-above-flex3 {
    margin: 9rem;
    height: 50rem;
    background-image: url("images/below-flex2.jpg");
    background-size: 100% 100%;
}

.flex3 {
    margin: 7rem 18%;
    height: 54rem;
    background-color: #d5b3ff;
    z-index: -12;
    display: flex;
    flex-direction: row;
    gap: 25%; /*gap is 33% because 18% isn't equal to 18% gap of body/outside this div 
    since 33% maked 1/3rd part of thid div, which is approx equal to 18% of outside */
}

.flex3-left {
    margin: 14rem 0rem 14rem 7rem;
}

.flex3-left img {
    width: 200%;
    height: 100%;
    transform: translateX(-50%);
}

.flex3-right {
    margin: 7rem 0rem;
}

.flex3-right img {
    width: 179.5%; /*by doing width approx 200%, makes me avoid translating in x-direction*/
    height: 100%;
    /*transform: translateX(50%); /*because 33% was less*/
}

.flex4 {
    margin: 7rem;
    height: 40rem;
    display: flex;
    flex-direction: row;
    background-color: #b1c5ff;
}

.flex4-left {
    width: 50%;
    background-image: url('images/flex4.jpg');
    background-size: 100% 100%;
}

.flex4-right {
    width: 50%;
    text-align:justify;
    line-height: 3rem;
    font-weight: 600;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    place-items: center;
    padding: 7rem;
}

.flex4-right a {
    text-decoration: none;
    color: rgb(0, 0, 197);
}

footer {
    margin: 10rem 7rem 5rem 7rem;
}

.footer-head {
    font-size: 3.5rem;
    font-weight: 600;
}

.footer-content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: 1.15rem;
}

.footer-row1, .footer-row2 {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    width: 100%;
    justify-content: space-between;
}

.footer-row2 {
    justify-content: left;
    gap: 3.8rem;
}

.footer-content a {
    text-decoration: none;
    color: black;
}

.f1, .f2, .f3, .f5, .f4 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 3rem;
}

form input {
    background-color: rgb(238, 238, 238);
    border: 0.05rem solid rgb(238, 238, 238);
    width: 78%;
    padding-left: 1rem;
}

form ::placeholder {
    padding: 0.2rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: rgb(145, 145, 145);
}

form button {
    width: 22%;
    background-color: rgb(0, 0, 216);
    border: 0.05rem solid rgb(0, 0, 216);
    font-size: 1.1rem;
    color: white;
}

.footer-end {
    margin: 7rem 0rem 9rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-end a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.85rem;
    padding-right: 0.5rem;
}

.footer-end span {
    font-weight: 600;
    font-size: 0.85rem;
}

.arrow {
    display: inline-block; /*NEW LESSON- transform property doesn't work on inline elements*/
    transform: rotate(90deg);
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
    html {
        font-size: 93%;
    }

    nav {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        gap: 4rem;
    }

    .header a {
        font-size: 1.25rem;
    }

    .hero-img {
        margin: 0rem 2rem;
        height: 98vh;
        width: 91%;
    }

    .hero-img button {
        font-size: 6rem;
        transform: translateX(-5rem);
    }

    .intro, .below-grid1, .below-flex2, .text-above-flex3, .above-flex4 {
        margin: 5rem 5rem;
        padding: 0rem;
        font-weight: normal;
    } 

    .left1 {
        width: 40%;
        height: 15rem;
        margin: 5rem 0rem;
    }

    .left1 img {
        width: 100%;
        height: 100%;
        transform: translateX(5rem);
    }

    .right1 {
        height: 24.5rem;
    }
    
    .right1 img {
        margin: 7rem 5rem;
        height: 10rem; 
        transform: translateX(3.5rem);
    }

    .flex2 {
        margin: 2rem 5rem;
    }

    .left2 {
        height: 37rem;
    }

    .left-top {
        margin: 5rem 10rem 5rem 5rem;
    }

    .left-bottom {
        margin: 0rem 10rem 5rem 5rem;
    }

    .right2 img {
        width: 100%;
        height: 17rem;
        margin: 10rem 0rem;
        transform: translateX(-5rem);
    }

    .img-above-flex3 {
        margin: 5rem;
        height: 27rem;
    }

    .flex3 {
        margin: 2rem 18%;
        height: 27rem;
    }

    .flex3-left {
        margin: 10rem 0rem 10rem 5rem;
    }

    .flex3-left img {
        width: 200%;
        height: 100%;
        transform: translateX(-50%);
    }

    .flex3-right {
        margin: 5rem 0rem;
    }

    .flex3-right img {
        width: 179.5%;
        height: 100%;
    }

    .flex4 {
        margin: 5rem;
        display: flex;
        flex-direction: column;
    }

    .container {
        padding: 2rem;
    }

    .flex4-left {
        width: 100%;
        height: 50%;
    }

    .flex4-right {
        height: 50%;
        width: 100%;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 2.4rem;
    }

    footer {
        margin: 3rem 5rem;
    }

    /*.footer-head {
        font-size: 2.7rem;
    }

    .footer-content {
        margin-top: 3rem;
        gap: 2rem;
        
    }
    
    .footer-row1, .footer-row2 {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
    }

    .footer-end {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: left;
        align-items:flex-start;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer-end a { 
        font-size: 1rem;
    }

    .footer-end span {
        font-size: 1rem;
    }*/
}



/*TABLETS*/
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 813px) {
    html {
        font-size: 87%;
    }

    nav {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .nav-list button {
        font-size: 1.7rem;
        color: black;
    }

    .nav-list, .nav-right {
        display: none;
    }

    .nav-logo {
        width: 5rem;
        height: 4rem;
    }

    .header a {
        font-size: 1.25rem;
    }

    .hero-img {
        margin: 0rem 2rem;
        height: 80vh;
        width: 89%;
    }

    .hero-img button {
        font-size: 6rem;
        transform: translateX(-5rem);
    }

    .intro, .below-grid1, .below-flex2, .text-above-flex3, .above-flex4 {
        margin: 5rem 2rem;
        padding: 0rem;
        font-weight: normal;
        font-size: 1.4rem;
    } 

    .intro h4 {
        font-weight: normal;
    }

    .left1 {
        width: 40%;
        height: 15rem;
        margin: 3.5rem 0rem;
    }

    .left1 img {
        width: 100%;
        height: 100%;
        transform: translateX(3rem);
    }

    .right1 {
        height: 21.5rem;
    }
    
    .right1 img {
        margin: 7rem 3.5rem;
        height: 9rem; 
        transform: translateX(1.75rem);
    }

    .flex2 {
        margin: 2rem 0rem;
    }

    .left2 {
        height: 26.5rem;
    }

    .left-top {
        margin: 3.5rem 7rem 3.5rem 3.5rem;
    }

    .left-bottom {
        margin: 0rem 7rem 3.5rem 3.5rem;
    }

    .right2 img {
        width: 100%;
        height: 16rem;
        margin: 7rem 0rem;
        transform: translateX(-3.5rem);
    }

    .img-above-flex3 {
        margin: 2rem;
        height: 27rem;
    }

    .flex3 {
        margin: 2rem 18%;
        height: 27rem;
    }

    .flex3-left {
        margin: 7rem 0rem 7rem 3.5rem;
    }

    .flex3-left img {
        width: 200%;
        height: 100%;
        transform: translateX(-50%);
    }

    .flex3-right {
        margin: 3.5rem 0rem;
    }

    .flex3-right img {
        width: 179.5%;
        height: 100%;
    }

    .flex4 {
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }

    .container {
        padding: 2rem;
    }

    .flex4-left {
        width: 100%;
        height: 50%;
    }

    .flex4-right {
        height: 50%;
        width: 100%;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 2.4rem;
    }

    footer {
        margin: 3rem 2rem;
    }

    .footer-head {
        font-size: 2.7rem;
    }

    .footer-content {
        margin-top: 3rem;
        gap: 2rem;
        font-size: 1.1rem;
    }
    
    .footer-row1, .footer-row2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
    }

    .footer-end {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: left;
        align-items:flex-start;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer-end a { 
        font-size: 1rem;
    }

    .footer-end span {
        font-size: 1rem;
    }
}




/*MOBILE PHONES*/
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    html {
        font-size: 75%;
    }

    nav {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .nav-list button {
        font-size: 1.7rem;
        color: black;
    }

    .nav-list, .nav-right {
        display: none;
    }

    .nav-logo {
        width: 5rem;
        height: 4rem;
    }

    .header a {
        font-size: 1.25rem;
    }

    .hero-img {
        margin: 0rem 2rem;
        height: 80vh;
        width: 89%;
    }

    .hero-img button {
        font-size: 6rem;
        transform: translateX(-5rem);
    }

    .intro, .below-grid1, .below-flex2, .text-above-flex3, .above-flex4 {
        margin: 5rem 2rem;
        padding: 0rem;
        font-weight: normal;
        font-size: 1.26rem;
    } 

    .intro h4 {
        font-weight: normal;
    }

    .left1 {
        width: 40%;
        height: 15rem;
        margin: 3.5rem 0rem;
    }

    .left1 img {
        width: 100%;
        height: 100%;
        transform: translateX(3rem);
    }

    .right1 {
        height: 21.5rem;
    }
    
    .right1 img {
        margin: 7rem 3.5rem;
        height: 9rem; 
        transform: translateX(1.75rem);
    }

    .flex2 {
        margin: 2rem 0rem;
    }

    .left2 {
        height: 26.5rem;
    }

    .left-top {
        margin: 3.5rem 7rem 3.5rem 3.5rem;
    }

    .left-bottom {
        margin: 0rem 7rem 3.5rem 3.5rem;
    }

    .right2 img {
        width: 100%;
        height: 16rem;
        margin: 7rem 0rem;
        transform: translateX(-3.5rem);
    }

    .img-above-flex3 {
        margin: 2rem;
        height: 27rem;
    }

    .flex3 {
        margin: 2rem 18%;
        height: 27rem;
    }

    .flex3-left {
        margin: 7rem 0rem 7rem 3.5rem;
    }

    .flex3-left img {
        width: 200%;
        height: 100%;
        transform: translateX(-50%);
    }

    .flex3-right {
        margin: 3.5rem 0rem;
    }

    .flex3-right img {
        width: 179.5%;
        height: 100%;
    }

    .flex4 {
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }

    .container {
        padding: 2rem;
    }

    .flex4-left {
        width: 100%;
        height: 50%;
    }

    .flex4-right {
        height: 50%;
        width: 100%;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 2.4rem;
    }

    footer {
        margin: 3rem 2rem;
    }

    .footer-head {
        font-size: 2.7rem;
    }

    .footer-content {
        margin-top: 3rem;
        gap: 2rem;
        font-size: 1.1rem;
    }
    
    .footer-row1, .footer-row2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
    }

    .footer-end {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: left;
        align-items:flex-start;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer-end a { 
        font-size: 1rem;
    }

    .footer-end span {
        font-size: 1rem;
    }
}
